
ShortBus.TestHost/bin/
ShortBus.Client/obj/
ShortBus.TestHost/obj/
ShortBus.Client/bin/
ShortBus.Contracts/bin/
ShortBus.Contracts/obj/
ShortBus.Server/bin/
ShortBus.TestClient/bin/
ShortBus.Server/obj/
ShortBus.SQLStore/bin/
ShortBus.SQLStore/obj/
ShortBus.TestClient/obj/
ShortBus.UnitTests/bin/
ShortBus.UnitTests/obj/
TestResults/
ShortBus.vsmdi
ShortBus1.vsmdi
TraceAndTestImpact.testsettings
Local.testsettings
ShortBus.suo