<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ShortBus.Client.Configuration" type="ShortBus.Client.Configuration, ShortBus.Client" />
  </configSections>

  <!-- Defaults shown except for serverEndpoint, which has no default -->
  <ShortBus.Client.Configuration
     serverEndpoint="net.msmq://tsunami/private/shortbus"
     clientEndpointFormat="net.msmq://{0}/private/shortbus_{1}"
     clientQueueFormat=".\private$\shortbus_{0}"
     authenticationMode="None"
     protection="None"
     encryption="Optional" />

  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
</configuration>
