<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="MSMQBinding">
          <security>
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="ShortBus.ServerPump">
        <endpoint address="net.msmq://tsunami/private/shortbus" binding="netMsmqBinding"
          bindingConfiguration="MSMQBinding" contract="ShortBus.Contracts.IServiceBusServer" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
