<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ShortBus.Server.Configuration" type="ShortBus.Server.Configuration, ShortBus.Server" />
  </configSections>

  <!-- Defaults shown -->
  <ShortBus.Server.Configuration
    heartbeatTimeout="5000"
    checkHeartbeatAfter="00:10:00"
    messageQueueName=".\private$\shortbus"
    authenticationMode="None"
    protection="None"
    encryption="Optional" />

  <connectionStrings>
    <add name="ServiceBusModelContainer" connectionString="metadata=res://*/ServiceBusModel.csdl|res://*/ServiceBusModel.ssdl|res://*/ServiceBusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TSUNAMI;Initial Catalog=ServiceBus;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="MSMQBinding">
          <security>
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="ShortBus.Server.ServerPump">
        <endpoint address="net.msmq://tsunami/private/shortbus" binding="netMsmqBinding"
          bindingConfiguration="MSMQBinding" contract="ShortBus.Contracts.IServiceBusServer" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
